footer {
    // position: absolute;
    // bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(252, 210, 57, 0.205);
    box-shadow: 0px 3px 40px rgba(0, 0, 0, 1);
    height: 15vh;

    .logo {
        width: 100px;
    }


}