.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2vw;
    
    form {
      background-color: rgba(252, 210, 57, 0.096);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
      width: 100%;
      max-width: 400px;
  
      h2 {
        margin-bottom: 20px;
        color: #333;
        text-align: center;
        letter-spacing: 1px;
      }
  
      .form-group {
        margin-bottom: 15px;
  
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 0.6px;
        }
  
  
        .error {
          color: rgb(252, 211, 57);
          font-size: 12px;
          margin-top: 5px;
        }
      }
  
      button {
        width: 100%;
        padding: 10px;
        background-color: rgb(58, 162, 70);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
  
        &:hover {
          background-color: rgba(98, 190, 109, 0.918);
        }
  
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }

      .register {
        margin-top: 2vh;
        color: rgb(252, 211, 57);

        a{
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          color: #fff;
          letter-spacing: 1px;

          &:hover {
            color:  rgb(58, 162, 70);
          }
        }
      }
    }
  }
  