.container-index {
    position: relative;
    border-radius: 10px;
    max-width: 768px;
    background-color: rgb(199, 59, 58);
    margin: 0vh auto 0 auto;
    .container-app {
        padding-top: 3vh;
        min-height: 65vh;
    }
}