.container-form {
    margin: 0 auto;
    width: 70%;

    .title {
        color:  rgb(58, 162, 70);
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 3vh;

    }

    form {
        input {
            margin-bottom: 1vh;
        }
        .invalid {
            transition: all 0.3s ease-in-out;
            color: rgb(252, 211, 57);
            margin-bottom: 1vh;
        }

        button {
            transition: 0.3s ease-in-out;
            margin-top: 1vh;
            padding: 5px 0;
            background-color: rgb(58, 162, 70);
            color: #fff;
            width: 100%;
            border-radius: 10px;
        }

        button:hover{
            background-color: rgb(45, 145, 60);
            cursor: pointer;
        }

        button:disabled {
            opacity: 0.3;
            color: rgb(199, 59, 58);
            cursor: not-allowed;    
            background-color: rgb(252, 211, 57);
        }
    }
}