<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<div *ngFor="let history of historyData" class="history-card" (click)="openModal(history)">
  <p><strong>ID:</strong> {{ history.id }}</p>
  <p><strong>Data:</strong> "INDISPONIVEL"</p>
  <p><strong>Jogadores:</strong> {{ history.playerNames }}</p>
  <p><strong>Ganhador do Treino:</strong> {{ history.winnerTraining }}</p>
  <p><strong>Ganhador da Final:</strong> {{ history.winnerChampion }}</p>
</div>

<!-- Modal -->
<div *ngIf="selectedHistory" class="modal-overlay">
  <div class="modal">
    <button class="close-btn" (click)="closeModal()">X</button>
    <h2>Detalhes da Partida</h2>
    <p><strong>ID:</strong> {{ selectedHistory.id }}</p>
    <p><strong>Data:</strong> INDISPONIVEL </p>
    <p><strong>Usuário:</strong> {{ selectedHistory.user.name }} {{ selectedHistory.user.surname }}</p>
    <p><strong>Jogadores:</strong> {{ selectedHistory.playerNames}}</p>

    <h3>Histórico de Rodadas</h3>
    <ul>
      <li *ngFor="let match of selectedHistory.history">
        Rodada {{ match.roundNumber }} - Tipo: {{ match.type }} - Vencedor: {{ match.winner }}
      </li>
    </ul>

    <p><strong>Ganhador do Treino:</strong> {{ selectedHistory.winnerTraining }}</p>
    <p><strong>Ganhador da Final:</strong> {{ selectedHistory.winnerChampion }}</p>
  </div>
</div>
